
:root{
    --iris-color: #4D5AE5
}

:root{
    --navy-color: #2E2F42
}

:root{
    --slate-color: #2E2F42
}

:root{
    --flower-color: #E7E9FC
}

:root{
    --cloud-color: #F4F4FD
}

:root{
    --ocean-color: #404BBF
}


body{
    font-family: "Roboto" , sans-serif;
}

:root{
    --white-color: #FFFFFF
}

.button{
    color: var(--iris-color);
    background-color: var(--flower-color);
}

.button-navi li :hover,
.button-navi li :focus{
    color: var(--white-color);
    background-color: var(--ocean-color);
}


.header a{
    text-decoration: none;
    list-style: none;
}

.header-logo :focus{
    color:var(--iris-color);
}

.header-logo{
    color:var(--iris-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
}

.span{
    color:var(--navy-color);
}

.header-links :hover,
.header-links :focus{
    color:var(--iris-color);
}

.header-links{
    list-style: none;
color:var(--navy-color);
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
}

.header-studio{
    text-decoration: none
}

.contacts a{
    color: var(--slate-color);
    font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
}

.contacts{
    list-style: none;
}

.contacts :hover,
.contacts :focus{
    color:var(--iris-color);
}

.button{
    background-color: var(--cloud-color);
color: var(--iris-color);
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
}

.button :focus{
    background-color: var(--ocean-color);
    color: var(--white-color);
}

.button-navi li{
    list-style: none;
}

.work-h{
    color: var(--navy-color);
    font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
}

.workes a{
    text-decoration: none;
}

.workes p{
    color: var(--slate-color);
    font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
}

.works li {
    list-style: none;
}


.span-two{
    color: var(--cloud-color);
}

.footer-text{
    color: var(--flower-color);
    font-weight: 400;
font-size: 16px;
line-height: calc(24/16);

}

.footer{
    background-color: #2E2F42;
}

.footer-link{
    color: var(--iris-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 